<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="tehame" version="3.1" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<display-name>tehame</display-name>

	<!-- Project Stage -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>public/landing.xhtml</welcome-file>
	</welcome-file-list>

	<!-- JSF Servlet Definition -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- URL Mapping auf JSF Servlet -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<!-- RESTeasy Servlet Definition -->
	<servlet>
		<servlet-name>RESTeasy Servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!-- URL Mapping auf RESTeasy Servlet -->
	<servlet-mapping>
        <servlet-name>RESTeasy Servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
	    <param-name>resteasy.servlet.mapping.prefix</param-name>
	    <param-value>/rest</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<!-- Security -->
	<deny-uncovered-http-methods/>
	
	<!-- Login-Methode und Login-Seiten -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/public/login.xhtml</form-login-page>
			<form-error-page>/public/login.xhtml?error=invalid</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-constraint>
		<display-name>Web-Root</display-name>
		<web-resource-collection>
			<web-resource-name>Startseite</web-resource-name>
			<description>Die Startseite bedarf keiner Authorisierung</description>
			<url-pattern>/</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<security-constraint>
		<display-name>Öffentliche Seiten</display-name>
		<web-resource-collection>
			<web-resource-name>Öffentliche Seiten</web-resource-name>
			<description>Alle Seiten im Public Ordner, JSF Ressourcen und allgemeine Ressourcen brauchen keine Authorisierung</description>
			<url-pattern>/javax.faces.resource/*</url-pattern>
			<url-pattern>/public/*</url-pattern>
			<url-pattern>/resources/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<security-constraint>
		<display-name>Gesicherte Seiten</display-name>
		<web-resource-collection>
			<web-resource-name>Gesicherte Seiten</web-resource-name>
			<url-pattern>/secured/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
			<role-name>user</role-name>
			<role-name>gast</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>REST Endpunkte</display-name>
		<web-resource-collection>
			<web-resource-name>REST Endpunkte</web-resource-name>
			<description>Auth erfolgt hier direkt im Endpunkt</description>
			<url-pattern>/rest/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
	</security-constraint>
	
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	<security-role>
		<role-name>user</role-name>
	</security-role>
	<security-role>
		<role-name>gast</role-name>
	</security-role>
</web-app>
